
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası kendi oluşturduğumuz View sayfasıdır.</h3>
<style>
    .th{
        color:red;
        text-align:center;
    }
</style>
<table style="border:solid; border-width:1px; width:auto; height:100px;">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Hüseyin</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ece</td>
        <td>Analist</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Fatih</td>
        <td>Tester</td>
    </tr>
</table>